{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}

{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<!-- TODO: {% if app.user %}
<div class="mb-3">
    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
</div>
{% endif %} -->


<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user" method="POST">
                  <div class="form-group">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter Email Address..." required autofocus>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="inputPassword" class="form-control form-control-user" placeholder="Password" required>
                  </div>
                  {# See https://symfony.com/doc/current/security/remember_me.html #}
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  {# Il faut pour Symfony un input avec le csrf token #}
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
       
                  <button class="btn btn-primary btn-user btn-block" type="submit">
                      Login
                  </button>
                  <hr>
                  <a href="#" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="#" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="#">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="#">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
