{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="jumbotron">
        Facilepargne, mon super site !
        <br>
        Nom du produit : <strong>{{ stock.name }}</strong>
    </div>
</div>



{% endblock %}